<div class="image-selector">

  <div class="image-container">

    <div class="fighter-box">
      <div class="image-box">
        <img [src]="fighter1Image" alt="Select Fighter 1" />
      </div>
      <p class="fighter-caption">
        <span class="fighter-name">{{ selectedFighter1 }}</span><br>
        <span class="win-label">Win Probability:</span><br>
        <!-- Switching win probabilities here: win prob r for red is what it should be -->
        <span class="win-probability">{{ winprobb | percent }}</span>
      </p>
    </div>

    <div class="fighter-selection">

      <div class="fighter-select-container">

        <div class="fighter-select">
          <label for="fighter1">Select Fighter 1:</label>
          <select [(ngModel)]="selectedFighter1" (change)="updateImages()" name="fighter1">
            <option *ngFor="let fighter of fighters" [value]="fighter">{{ fighter }}</option>
          </select>
        </div>
      
        <div class="fighter-select">
          <label for="fighter2">Select Fighter 2:</label>
          <select [(ngModel)]="selectedFighter2" (change)="updateImages()" name="fighter2">
            <option *ngFor="let fighter of fighters" [value]="fighter">{{ fighter }}</option>
          </select>
        </div>

      </div>

      <div class="fighter-select">
        <label for="weight-class">Select Weight Class:</label>
        <select [(ngModel)]="selectedWeightClass" name="weight-class">
          <option *ngFor="let wc of weight_classes" [value]="wc">{{ wc }}</option>
        </select>
      </div>

      <div class="fighter-select">
        <label for="gender">Select Gender:</label>
        <select [(ngModel)]="selectedGender" name="gender">
          <option *ngFor="let gd of genders" [value]="gd">{{ gd }}</option>
        </select>
      </div>
    
      <button (click)="compareFighters()">Compare Fighters</button>
      
    <div class="fighter-stats-container" *ngIf="fighter1Stats && fighter2Stats">
      <div class="stat-row" *ngFor="let stat of statsToShow">
        <span class="fighter1-stat">{{ fighter1Stats[stat] }}</span>
        <span class="stat-name">{{ getStatLabel(stat) }}</span>
        <span class="fighter2-stat">{{ fighter2Stats[stat] }}</span>
      </div>
    </div>

    </div>

    <div class="fighter-box">
      <div class="image-box">
        <img [src]="fighter2Image" alt="Select Fighter 2" />
      </div>
      <p class="fighter-caption">
        <span class="fighter-name">{{ selectedFighter2 }}</span><br>
        <span class="win-label">Win Probability:</span><br>
        <!-- Switching win probabilities here: win prob b for blue is what it should be -->
        <span class="win-probability">{{ winprobr | percent }}</span>
      </p>
    </div>

  </div>

</div>